# CPAO1 
CS 103A, Spring 2022

Kayla Hoffman

This data can be found at https://www.kaggle.com/nguyenngocphung/10000-amazon-products-dataset

To download this set, first create an account then click the Download button near the upper right of the page. It will download as a zip folder. Next, extract the contents, and they are now ready to use as a csv file.

This data set contains over 10,000 different Amazon products. The columns include information like the product name, manufacturer, price, reviews, questions, category of good, and description.

Analysis: Using Pandas, I want to learn more about how the price/reviews and the price/number of questions are correlated.

In [1]:
import numpy as np
import pandas as pd
import regex as re
from matplotlib import pyplot as plt

In [6]:
df = pd.read_csv('archive/Amazon_Products.csv', usecols = ['uniq_id', 'product_name', 'manufacturer', 'price',
       'number_available_in_stock', 'number_of_reviews',
       'number_of_answered_questions', 'average_review_rating',
       'amazon_category_and_sub_category', 'description'], low_memory = False)
#df

In [3]:
df.dtypes

uniq_id                             object
product_name                        object
manufacturer                        object
price                               object
number_available_in_stock           object
number_of_reviews                   object
number_of_answered_questions        object
average_review_rating               object
amazon_category_and_sub_category    object
description                         object
dtype: object

In [7]:
df['price'] = df['price'].str.replace('£', '')

df = df.drop(df.index[3355])
df = df.drop(df.index[3335])
df = df.drop(df.index[3325])
df = df.drop(df.index[3300])
df = df.drop(df.index[3272])
df = df.drop(df.index[3267])
df = df.drop(df.index[3262])
df = df.drop(df.index[3259])
df = df.drop(df.index[3239])
df = df.drop(df.index[3197])
df = df.drop(df.index[3182])
df = df.drop(df.index[[2005, 2004, 2003, 2002]])
df = df.drop(df.index[1998])
df = df.drop(df.index[1994])
df = df.drop(df.index[1837])
df = df.drop(df.index[1814])
df = df.drop(df.index[1808])
df = df.drop(df.index[1801])
df = df.drop(df.index[1655])

In [8]:
#df['price'] = df['price'].str.replace('£', '')
# Delete row that gives price as a range
#df['price'] = df['price'].str.replace('^-\d*\.\d*', '')

df['price'] = pd.to_numeric(df['price'])

ValueError: Unable to parse string "269.00 - 699.99" at position 1655

In [ ]:
def cleanPrice(str1):
    return float(str1.strip('£'))

df['price'] = [cleanPrice(df['price']) for d in df]


#[toFloat(d['GDP - per capita']) for d in data]
#[toPrice(df['price']) for d in df]
#apply(lambda x: float(x.strip('£')))

In [ ]:
df.dtypes

In [ ]:
def toFloat(str1):
    if str1=='':
        return 0
    else:
        return float(str1)
    
def toInt(str1):
    if str1=='':
        return 0
    else:
        return int(str1)
    
def toPrice(str1):
    str1 = str1[2:]
    return float(str1)

def toRating(str1):
    str1 = str1[:3]
    return float(str1)

df['price'] = [toPrice(df['price']) for d in df]
df['average_review_rating'] = [toRating(df['average_review_rating']) for d in df]
df['number_of_answered_questions'] = pd.to_numeric(df['number_of_answered_questions'])

df.dtypes

Note that price is in euros and reviews are out of 5 stars

In [ ]:
frlist = [(toFloat(d['Total fertility rate(children born/woman)']),d['Country'])
            for d in data]
frlist = sorted(frlist,reverse=True)
frlist